.restCountries {
    display: flex;
    justify-content: flex-start;
}
.countries {
    overflow: auto;
    width: 450px;
    height: 550px;
    background: #fff;
    border: 1px solid #C1C1C1;
    cursor: pointer;
}
