.country{
    font-family: serif;;
    list-style: none;
    margin:0;
    text-decoration: underline;
    padding: 10px 0 10px 0;
    text-transform: uppercase;
}

.country:hover{
    background: #fac695; /* Old browsers */
    background: -moz-linear-gradient(top, #fac695 0%, #f5ab66 47%, #ef8d31 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #fac695 0%,#f5ab66 47%,#ef8d31 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #fac695 0%,#f5ab66 47%,#ef8d31 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    color: #fff;
}
.flag {
    width: 50px;
    height: 25px;
    margin-right: 5px;
}


